

/* flex */
#topnav {
    display: inline-block;
    width: 100%;
    height: 72px;
    padding: 10px 60px 10px 60px;
    text-align: center;     
    max-height: fit-content;

    overflow: hidden;
    position: relative;

    background: rgb(11,19,86);
    background: linear-gradient(90deg, rgba(11,19,86,1) 30%, rgba(24,42,188,1) 100%); 
}

#topnav .elements {
    height: 100%;
    width: 50px;
    display: inherit;
}

#topnav #left {
    height: 27px;
    width: auto;
    float: left;
    
    position: relative;
    top: 50%;
    transform: translate(0, -50%)
}

#topnav #left-elm {
    height: 24px;
    width: auto;
    float: left;
    margin-left: 24px;
    /* center */
    position: relative;
    top: 50%;
    transform: translate(0, -50%)
}

/* div */
#topnav #right {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    
    height: 90%;
    padding: 10px;
    float: right;
    width: auto;
    text-align: center;
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
}

#topnav #center span {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: var(--topnavfontsize);
    
    color: white;

    align-self: center;
    width: auto;
    text-align: center;
    
}

#topnav #right span {
    font-size: var(--topnavfontsize);
    color: #00FFB0;
    
    /* display */
    margin-left: 45px;
}

#topnav #right #star {
    width: 16px;
    margin-left: 16px;
}



.debug {
    background-color: rgb(13, 255, 0);
    border: 2px solid brown;
}