#section-1{
    position: relative;
}

#section-1-background {
    background: rgb(9,65,88);
    background: linear-gradient(139.41deg, #00FFD1 32.07%, #094158 100%);
    height: 900px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section-1-container1 {
    height: 900px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    display: flex;
    align-content: center;
    justify-content: center;

    overflow: hidden;
}

#section-1-container1 #elm-group-2 {
    display: grid;
    grid-template-columns: 106px 114px 429px;
    grid-template-rows: 193px 220px 126px;

    position:absolute;
    right: -203px;
    bottom: -225px;
}

#section-1-container1 #elm-group-2 #ball4 {
    /* ball-01 3 */

    grid-row: 1/span 3;
    grid-column: 2/ span 2;
    width: 100%;
    height: 100%;

    /* position: absolute;
    width: 538.2px;
    height: 538.2px;
    right: -91.2px;
    top: 586.32px; */

    filter: drop-shadow(-8px 10px 95.2px rgba(0, 55, 255, 0.1));
    transform: rotate(-43.62deg);
}

#section-1-container1 #elm-group-2 #ball5 {
    /* ball-01 4 */
    grid-row: 2/ span 1;
    grid-column: 1 / span 2;
    width: 100%;
    height: 100%;

    filter: drop-shadow(-8px 10px 95.2px rgba(0, 55, 255, 0.1));
    transform: rotate(-43.62deg);

}

#section-1-container1 #elm-group-1 {
    display: grid;
    grid-template-columns: 95px 360px 81px 161px 46px;
    grid-template-rows: 164px 272px 212px 30px 22px;

    position: absolute;
    left: -206px;
    top: 100px;
}

#section-1-container1 #elm-group-1 #ball1 {
    grid-row: 1/span 3;
    grid-column: 2/ span 4;
    width: 100%;
    height: 100%;
    filter: drop-shadow(-8px 10px 95.2px rgba(0, 55, 255, 0.36));
}

#section-1-container1 #elm-group-1 #ball2 {
    grid-row: 2/span 4;
    grid-column: 1/ span 3;
    width: 100%;
    height: 100%;
    filter: drop-shadow(-8px 10px 95.2px rgba(0, 55, 255, 0.36));
}

#section-1-container1 #elm-group-1 #ball3 {
    grid-row: 3 / span 2;
    grid-column: 3 / span 2;
    width: 100%;
    height: 100%;
    filter: drop-shadow(-8px 10px 95.2px rgba(0, 55, 255, 0.36));
}

/*
#section-1 #section-1-container1 #elm-group-1 #ball1 {
    /* ball-01 1 

    position: absolute;
    width: 648px;
    height: 648px;
    left: -101px;
    top: 100px;

    filter: drop-shadow(-8px 10px 95.2px rgba(0, 55, 255, 0.36));
    
}

#section-1 #section-1-container1 #elm-group-1 #ball2 {
    width: 536px;
    height: 536px;

    /* ball-01 2 

    position: absolute;
    width: 536px;
    height: 536px;
    left: -206px;
    top: 266px;

    filter: drop-shadow(-8px 10px 95.2px rgba(0, 55, 255, 0.36));
}

#section-1 #section-1-container1 #elm-group-1 #ball3 {
    /* ball-01 2 

    position: absolute;
    width: 242px;
    height: 242px;
    left: 249px;
    top: 536px;

    filter: drop-shadow(-8px 10px 95.2px rgba(0, 55, 255, 0.36));
} */

@media screen and (min-width: 1512px) and (max-width:1920px) {
    #section-1-container1 #textbox {
        width: auto;
        height: 131px;
        
        display: grid;

        grid-template-areas: 
        'greet greet star'
        'name name name'
        ;
        align-self: center;
        vertical-align: middle;

        position: absolute;
        left: 639px;
    }

    #textbox #name {
        /* Jonathan Theodore */
        grid-area: name;
    
        font-family: 'Sora';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 81px;
        /* identical to box height */
    
        color: var(--blue);
    }
    
    #textbox #greet {
        /* Hi! my name is */
        grid-area: greet;
    
        font-family: 'Sora'; 
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
    
        color: var(--darkblue);
    }
    
    #textbox #shooting-star-1{
        /* shooting star */
        grid-area: star;
        justify-self: center;
        align-self: center;
    }
}