

@font-face {
    font-family: type2;
    font-weight: normal;
    font-style: normal;

    src: url("../../assets/font/CascadiaMono/CascadiaMono.woff2") format('woff'),
         url("../../assets/font/CascadiaMono/CascadiaMono.ttf") format('truetype'),
         local('Cascadia Mono');

}

.cascadia-mono{
    font-family: 'type2';
    font-optical-sizing: auto;
    font-style: normal;
}

.extralight{
    font-weight: 100;
}

.light{
    font-weight: 200;
}

.semilight{
    font-weight: 300;
}

.regular{
    font-weight: 400;
}

.semibold{
    font-weight: 500;
}

.bold{
    font-weight: 600;
}